<section class="main-container">
    <div class="profile-box">
        <app-profile-box></app-profile-box>
    </div>
    <!--  -->
    <div class="top">
        <div class="top-content">
            <p class="title">Your games</p>
            <mat-form-field>
                    <mat-label>Search</mat-label>
                    <input matInput placeholder="Ex. The Witcher 3" [value]="search" (input)="onSearchChange($event)">
                </mat-form-field>
            <div class="tags-container">
                @for (genre of genres; track $index) {
                    <div class="tag" (click)="queryByGenre(genre.genre)">
                        {{genre.genre}}
                    </div>
                }
                <div class="tags-container">
                    <div class="tag" style="background-color: hsl(0, 99%, 59%) !important; color: black !important" (click)="queryByFilter(0)">
                        Never played
                    </div>
                    <div class="tag" style="background-color: hsl(36, 100%, 57%) !important; color: black !important" (click)="queryByFilter(180)">
                        Less than 3 hours played
                    </div>
                </div>
            </div>
        </div>
        @if (dataLoaded) {
            <div class="games-container">
                @for (game of games; track $index) {
                    <app-gamecard [action]="queryByGenre.bind(this)" [category]="queryByCategory.bind(this)" [game]="game" (changeEmitter)="loadGameDataFromDb(this.page, this.size)"></app-gamecard>
                }
                    <mat-paginator [length]="total" [pageSize]="50" (page)="onChangePage($event)" [pageSizeOptions]="[25,50,100]"></mat-paginator>
            </div>
        }
    </div>
@if(!dataLoaded) {
        <div class="spinner">
            <mat-progress-spinner mode="indeterminate" color="accent" diameter="250"></mat-progress-spinner>
            <h1>Please bare with us while we fetch your game metadata :)</h1>
        </div>
    }
</section>