<section class="main-container">
    <div class="profile-container">
        <div class="user" #gamesList>
            <img [src]="avatar" alt="avatar" class="icon"/>
            <h1>{{personaname}}</h1>
            <a [href]="profileUrl"><fa-icon [icon]="faSteam"></fa-icon> {{profileUrlName}}</a>
            <div class="button-container">
                <div class="button" id="edit">
                    Edit profile
                </div>
                <div class="button" id="share">
                    Share profile
                </div>
            </div>
        </div>
        <img src="pixel-gif.gif" alt="Steam library" class="lib">
    </div>
    <!--  -->
    <div class="top">
        <p class="title">Your games</p>
        <div class="tags-container">
            @for (genre of genres; track $index) {
                <div class="tag" (click)="queryByGenre(genre.genre)">
                    {{genre.genre}}
                </div>
            }
        </div>
        <div class="tags-container">
            <div class="tag" style="background-color: hsl(0, 99%, 59%); color: black" (click)="queryByFilter(0)">
                Never played
            </div>
            <div class="tag" style="background-color: hsl(36, 100%, 57%); color: black" (click)="queryByFilter(180)">
                Less than 3 hours played
            </div>
        </div>
        @if (dataLoaded) {
            <div class="games-container">
                @for (game of games; track $index) {
                    <app-gamecard [action]="queryByGenre.bind(this)" [category]="queryByCategory.bind(this)" [game]="game"></app-gamecard>
                }
                    <mat-paginator [length]="total" [pageSize]="50" (page)="onChangePage($event)" [pageSizeOptions]="[25,50,100]"></mat-paginator>
            </div>
        }
    </div>
@if(!dataLoaded) {
        <div class="spinner">
            <mat-progress-spinner mode="indeterminate" color="accent" diameter="250"></mat-progress-spinner>
            <h1>Please bare with us while we fetch your game metadata :)</h1>
        </div>
    }
</section>