<section>
    <div class="badges-container">
        <h2>Your Badges</h2>
        @if(dataLoaded){
            <span>You are currently playing: <b>{{nextBadge.data.currentStreak.game_title ? nextBadge.data.currentStreak.game_title : 'No game selected currently'}}</b></span>
            <span>Current streak🔥: {{nextBadge?.data?.currentStreak.current_streak}} / {{nextBadge?.data?.nextBadge?.condition}} days | Rank: (<b>{{nextBadge.data.nextBadge.name}})</b></span>
        }
        <div class="badge-row" [class.two-rows]="usersBadges.length > 4">
            @if(!dataLoaded){
                <div class="loading-spinner">
                    <mat-progress-spinner
                        diameter="60"
                        strokeWidth="5"
                        color="accent"
                        mode="indeterminate">
                    </mat-progress-spinner>
                </div>
            }
            @for (badge of usersBadges; track $index) {
                <div class="badge">
                    <div class="unlocked-gif">
                        <span>Unlocks the <strong>{{badge.name}}</strong> Profile GIF!</span>
                        <img [src]="badge.gif" [alt]="badge.name" [class.top]="topBadges.includes(badge.gif)">
                    </div>
                    <div class="details">
                        <h2>{{badge.name}}</h2>
                        <img [src]="badge.badge_image_location" [alt]="badge.description">
                        <span>{{badge.description}}</span>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="badges-container">
        <h2>All Badges</h2>
        <div class="badge-row two-rows">
            @if(!dataLoaded){
                <div class="loading-spinner">
                    <mat-progress-spinner
                        diameter="60"
                        strokeWidth="5"
                        color="accent"
                        mode="indeterminate">
                    </mat-progress-spinner>
                </div>
            }
            @for (badge of badges; track $index) {
                <div class="badge">
                    <div class="unlocked-gif">
                        <span>Unlocks the <strong>{{badge.name}}</strong> Profile GIF!</span>
                        <img [src]="badge.gif" [alt]="badge.name" [class.top]="topBadges.includes(badge.gif)">
                    </div>
                    <div class="details">
                        <img [src]="badge.badge_image_location" [alt]="badge.description">
                        <span>{{badge.description}}</span>
                    </div>
                </div>
            }
        </div>
    </div>
</section>