section {
    padding: 2em 5em;
    min-height: 100vh;
    position: relative;
    background-color: black;
    display: grid;
    grid-template-rows: 0.8fr, 1fr;
    gap: 2em;

    @media (prefers-color-scheme: light){
        background-color: var(--main-orange-hsl);
    }
}

.top-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.gallery-highlight {
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 100%;
    gap: 0.5em;
    padding: 2em 2em;
    background-color: var(--aqua);
    border-radius: 15px;
    
    @media (prefers-color-scheme: dark){
        background-color: hsl(0, 0%, 10%);
        border-radius: 15px;
    }

    & > img,
    > video {
        max-width: 800px !important;
        // max-height: 100px !important;
    }
}

.details {
    display: flex;
    flex-direction: column;
    // background-color: orange;
    font-size: 1.1em;
}

.left-part,
.right-part {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 1em;
}

.left-part {
    background-color: hsl(171, 92%, 28%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    @media (prefers-color-scheme: dark){
        background-color: hsl(0,0, 10%);
    }
}

.description {
    display: flex;
    flex-direction: column;
    gap: 1em;
    
    @media (prefers-color-scheme: light){
        background-color: hsl(171, 92%, 28%);
    }

    & {
        > h2 {
            @media (prefers-color-scheme: dark){
                color: hsl(0, 0%, 80%)
            }
        }

        > p {
            @media(prefers-color-scheme: dark){
                color: hsl(0, 0%, 60%);
            }
        }
    }
}

.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;

    background-color: hsl(0, 0%, 20%) !important;
        color: hsl(36, 100%, 57%) !important;

        &:hover {
            background: hsl(0, 0%, 30%) !important;
        }
}

.tags {
    padding-top: 1em;
    display: flex;
    gap: 1em;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
}

.right-part {
    background-color: hsl(0, 0%, 5%);
    color: #ff9800;

    @media (prefers-color-scheme: light){
        background-color: hsl(0, 0%, 95%);
        color: var(--light-text-muted);
    }
}

.time-to-beat {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.highlight {
    max-height: 400px;
    max-width: 800px;
}

::ng-deep .mat-mdc-progress-bar .mdc-linear-progress__bar-inner {
  border-color: #ff9800 !important;
}

:host ::ng-deep .mat-mdc-progress-bar .mdc-linear-progress__primary-bar {
  transition-duration: 0.8s !important;
}

.progress {
    display: flex;
    align-items: center;
    gap: 2px;
    transition: all 0.3s ease-in;
}

.progress > span {
    display: inline-block;
    animation: bounce 1s ease;
}

.progress > span:last-child {
  animation-delay: 0.1s;
}

@keyframes bounce {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.inner-desc {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

a {
    font-weight: bold;
    text-decoration: underline;
    
    &:hover {
        color: hsl(36, 100%, 65%) !important; 
    }
}