.overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all;
    animation: appear 0.25s ease-in;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: hsl(0, 0%, 10%, 0.7);
        backdrop-filter: blur(8px);
        pointer-events: none;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.6;
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

.content {
    min-width: 400px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: hsl(0, 0%, 20%);
    border-radius: 15px;
    gap: 2em;
    z-index: 101;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    // > fa-icon {
    //     // padding: 5px;
    //     // border-radius: 15px;

    //     &:hover {
    //         background-color: hsl(0, 0%, 30%);
    //     }
    // }
}

#invisible {
    width: 1.5em;
    height: 1.5em;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}