nav {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 2em;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 2em;
    justify-content: start;
    align-items: center;
    gap: 2em;
    background-color: transparent;
    color: white;
    z-index: 1000;
}

nav > a {
    font-size: large;
}

.line {
    width: 100%;
    height: 2px;
    background-color: transparent;
    transform: scaleX(0);
    transform-origin: left;
}

nav > a:hover > .line {
    background-color: green;
    animation: appear 0.3s linear forwards;
}

@keyframes appear {
    0% {
        transform: scaleX(0);
        transform-origin: left;
    }
    100% {
        transform: scaleX(1);
        transform-origin: left;
    }
}

