nav {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 2em;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 2em;
    justify-content: start;
    align-items: center;
    gap: 2em;
    background-color: hsl(36, 100%, 45%);
    border-bottom: 2px solid black;
    color: white;
    z-index: 1001;

    @media (max-width: 768px){
        padding-left: 2em;
        padding-right: 2em;
    }
    @media (prefers-color-scheme: dark){
        background-color: #000000;
        color: #ffa726;
        border-bottom: 2px solid #ffa726;
    }
}

nav > a {
    font-size: large;
}

.line {
    width: 100%;
    height: 2px;
    background-color: transparent;
    transform: scaleX(0);
    transform-origin: left;
}

nav > a:hover > .line {
    background-color: #FFA726;
    animation: appear 0.3s linear forwards;
}

@keyframes appear {
    0% {
        transform: scaleX(0);
        transform-origin: left;
    }
    100% {
        transform: scaleX(1);
        transform-origin: left;
    }
}

.home {
    background-color: transparent !important;
    border: 0;
    color: white;
}