.bg-vid {
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    object-fit: cover;
    object-position: top;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 20vh;
    padding-top: 0em;
    gap: 1em;
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.action-button {
    cursor: pointer;
}

.backlog {
    font-size: 4em;
    font-family: 'Pixel', sans-serif;
    position: relative;
    letter-spacing: 0.05em;  
    word-spacing: 0.1em;     
    line-height: 1.2;       
    white-space: nowrap;     
    display: inline-block;   
    z-index: 1000;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    @media (max-width: 768px){
        font-size: 1em;
    }
}

.title-container {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.sprite {
    position: absolute;
    top: -1.2em;
    right: -10px;
    image-rendering: crisp-edges;
    @media (max-width: 768px) {
        top: -0.5em;
        right: -2em !important;
        max-height: 2em;
        max-width: 2em;
    }
}

.dots {
    font-family: 'Pixel', sans-serif;
    font-size: 1em;
}

.dots::after {
  content: '';
  display: inline-block;
  width: 1.2em;
  text-align: left;
  animation: dots 2s steps(4, end) infinite;
}

@keyframes dots {
  0%, 20% {
    content: '';
  }
  40% {
    content: '.';
  }
  60% {
    content: '..';
  }
  80%, 100% {
    content: '...';
  }
}