video {
    // position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    max-height: 600px;
    width: 100%;
    border-radius: 16px;
    z-index: -1;
}

.greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1px);
    max-height: 500px;
    max-width: 500px;
    padding: 1rem;
}

.video-scroll-wrapper {
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.video-scroll-inner {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    // height: 50vh;
    transition: all 0.5s ease-in-out;
}

.video-scroll-inner video {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
    transition: all 0.5s ease-in-out;
}

.video-scroll-wrapper.scrolled .video-scroll-inner {
    width: calc(100% - 10em);
    margin: 0 auto;
    border-radius: 16px;
    overflow: hidden;
}

.video-scroll-wrapped.scrolled .video-scroll-inner video {
    border-radius: 16px;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    margin-left: 5em;
    margin-right: 5em;
    height: 20vh;
    margin-top: 4em;
}

.action-button {
    margin-top: 1rem;
    padding: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    border: 2px solid var(--yellow);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}