
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}/* You can add global styles to this file, and also import other style files */
@import "@fontsource/poppins";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";

@font-face {
  font-family: 'KnightWarrior';
  src: url('../public/fonts/KnightWarrior-w16n8.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pixel';
  src: url('../public/fonts/pixel.ttf');
  // font-weight: normal;
  // font-style: normal;
}


body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
    overscroll-behavior: none;
}

p {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --purple: #1B0554;
    --brightPurple: #2A0884;
    --yellow: #FCD23F;
    --darkerYellow: #FBC60D;
    --brown: #842A08;
    --green: #08842A;
    --gray: #69686D;
    --red: #D8024F;
    --blue: #4B29ED;
    --background: #1D0F46; 
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html,body {
    overscroll-behavior: none;
}

p, h1, h2, h3 {
  padding: 0;
  margin: 0;
}