@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
  color-scheme: dark;
  color: var(--dark-text);
  font: var(--mat-sys-body-medium);
}

@import "@fontsource/poppins";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";

@font-face {
  font-family: 'KnightWarrior';
  src: url('../public/fonts/KnightWarrior-w16n8.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pixel';
  src: url('../public/fonts/pixel.ttf');
}

::-webkit-scrollbar {
    display: none;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif !important;
    color: white;
    overscroll-behavior: none;
}

p {
    margin: 0;
    padding: 0;
}

h1, h2, h3, html {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --main-orange: #FFA726;
    --main-orange-hsl: hsl(36, 100%, 38%);
    --aqua: hsl(171, 92%, 28%);

    --dark-bg-dark: hsl(0, 0%, 0%);
    --dark-bg: hsl(0, 0%, 5%);
    --dark-bg-light: hsl(0, 0%, 10%);
    --dark-text: hsl(0, 0%, 95%);
    --dark-text-muted: hsl(0, 0%, 70%);
}

html, body { height: 100% }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body { overscroll-behavior: none; }

p, h1, h2, h3 {
  padding: 0;
  margin: 0;
}

.cursor-pointing {
  cursor: url('../public/hand_point.png') 8 8, auto;
}

.cursor-closed {
    cursor: url('../public/hand_closed.png') 8 8, auto;
}

*,
*:hover,
*:focus,
*:active {
  cursor: url('../public/hand_point.png') 8 8, auto !important;
}

body.cursor-closed *,
body.cursor-closed *:hover,
body.cursor-closed *:focus,
body.cursor-closed *:active {
  cursor: url('../public/hand_closed.png') 8 8, auto !important;
}

::selection {
  cursor: url('../public/hand_point.png') 8 8, auto !important;
}

.mdc-tooltip__surface {
  font-size: 14px !important;
  font-family: 'Poppins', sans-serif !important;
}

.no-scroll {
  overflow: hidden !important;
  height: 100%;
}