.card {
    display: flex;
    flex-direction: column;
    @media (max-width: 1280px){
        max-width: 400px;
    }
}

.details {
    display: flex;
    flex-direction: column;
    background-color: #151418;
    padding: 1em;
    border-radius: 5px;
    gap: 0.5em;
    color: #69686D;
}

img {
    object-fit: cover;
    max-height: 215px;
}

.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #69686D;
    padding: 5px;
    border-radius: 5px;
}

.tag-container {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em 1em;
    // color: #3B3A41;
    color: white;
    cursor: pointer;
}

.completed {
    width: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: start;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    cursor: pointer;
}

.action-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.tag.more {
    // background-color: var(--) !important;
}

.tag.less {
    background-color: var(--brown) !important;
}

.completed-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}