<div class="card">
  <img [src]="game.header_image || '/gallery.jpg'" 
       [alt]="game.name || 'placeholder for unknown img'">

  <div class="details">
    <strong class="strong">{{ game.name || 'Unknown game' }}</strong>

    <div class="tag-container">

      @if (game.iscompleted) {
        <div class="tag" style="background-color: var(--green);">Completed</div>
      } @else {
        <div class="tag" style="background-color: #9060b4; color: black;">Not completed</div>
      }

      @if (game.playtime_minutes === 0) {
        <div class="tag" style="background-color: hsl(0, 99%, 59%); color: black;">Never played</div>
      }

      @if (game.playtime_minutes > 0 && game.playtime_minutes <= 180) {
        <div class="tag" style="background-color: #ffa726; color: black;">Less than 3hr played</div>
      }

      @if (game.genres?.length) {
        @for (genre of game.genres; track $index) {
          <div class="tag" (click)="action?.(genre)">{{ genre }}</div>
        }
      }

      @if (game.categories?.length) {
        @if (game.expanded) {
          @for (cat of game.categories; track $index) {
            <div class="tag" (click)="category?.(cat)">{{ cat }}</div>
          }
          <div class="tag less" (click)="game.expanded = false">Show less</div>
        } @else {
          @for (cat of game.categories.slice(0,2); track $index) {
            <div class="tag" (click)="category?.(cat)">{{ cat }}</div>
          }
          <div *ngIf="game.categories.length > 2" class="tag more" (click)="game.expanded = true">More tags...</div>
        }
      }
    </div>

    <div class="completed-info">
      <div class="completed">
        <p style="padding-bottom: 1em;">{{game.description && game.description.slice(0, 150)}}...</p>
        <p><span style="color: hsl(0, 0%, 90%)">Playtime: </span>{{ (game.playtime_minutes / 60).toFixed(2) }}h</p>
        <p><span style="color: hsl(0, 0%, 90%)">Completed: </span>{{ game.iscompleted ? '✅' : '❌' }}</p>
        <p><span style="color: hsl(0, 0%, 90%)">Time To Complete: </span>{{ game.main_story ? `${game.main_story}h` : game.gm_hltb_main_story ? `${game.gm_hltb_main_story}h` : `No information available`}}</p>
      </div>
      <div class="buttons">
          <div class="action-button"><fa-icon [icon]="faCheck" matTooltip="Mark finished" style="color: white; fill: white;"></fa-icon></div>
          <div class="action-button"><fa-icon [icon]="faBan" matTooltip="Mark not finished" style="color: white; fill: white;"></fa-icon></div>
        </div>
    </div>

  </div>
</div>
