<div class="card">
  <img [src]="game.header_image || '/gallery.jpg'" 
       [alt]="game.name || 'placeholder for unknown img'">

  <div class="details">
    <strong>{{ game.name || 'Unknown game' }}</strong>

    <div class="tag-container">

      @if (game.completed) {
        <div class="tag" style="background-color: green;">Completed</div>
      } @else {
        <div class="tag" style="background-color: var(--brightPurple);">Not completed</div>
      }

      @if (game.playtime_minutes === 0) {
        <div class="tag" style="background-color: red;">Never played</div>
      }

      @if (game.playtime_minutes > 0 && game.playtime_minutes <= 180) {
        <div class="tag" style="background-color: var(--darkerYellow);">Less than 3hr played</div>
      }

      @if (game.genres?.length) {
        @for (genre of game.genres; track $index) {
          <div class="tag" (click)="action(genre)">{{ genre }}</div>
        }
      }

      @if (game.categories?.length) {
        @if (game.expanded) {
          @for (category of game.categories; track $index) {
            <div class="tag" (click)="action(category)">{{ category }}</div>
          }
          <div class="tag less" (click)="game.expanded = false">Show less</div>
        } @else {
          @for (category of game.categories.slice(0,2); track $index) {
            <div class="tag" (click)="action(category)">{{ category }}</div>
          }
          <div *ngIf="game.categories.length > 2" class="tag more" (click)="game.expanded = true">More...</div>
        }
      }
    </div>

    <div class="completed-info">
      <p>Playtime: {{ (game.playtime_minutes / 60).toFixed(2) }}h</p>
      <div class="completed">
        <p>Completed: {{ game.completed ? 'Yes' : '-' }}</p>
        <div class="buttons">
          <div class="action-button"><fa-icon [icon]="faCheck" matTooltip="Mark finished"></fa-icon></div>
          <div class="action-button"><fa-icon [icon]="faBan" matTooltip="Mark not finished"></fa-icon></div>
        </div>
      </div>
    </div>

  </div>
</div>
